{% extends "base.html" %}
{% load static %}
{% block nav %}
        <a class="nav-link" href="{% url "create" project.pk%}">Создать задачку</a>
        <a class="nav-link" href="{% url "p-update" project.pk %}">Редактировать проект</a>
        <a class="nav-link" href="{% url "p-delete" project.pk %}">Удалить проект</a>
{% endblock %}
{% block content %}
<p>project - {{ project.name }}</p>
<p>description - {{ project.description }}</p>
    <p>дата начала проекта - {{ project.start_date }}</p>
    <p>дата завершения проекта - {{ project.finish_date }}</p>

    <p></p>
<p><h3>Задачи по проекту: {{project.name}}</h3>
    <div class="row">
        {% for project in project.taskss.all %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h3>{{ project.summary }} ({{ project.description}})</h3>
                        <p><a href="{% url "task_view" project.pk%}">Подробнее о задаче</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</p>

<a href="{% url "p-view" %}">На главную проектов</a>
{% endblock %}