{% extends "base.html" %}
{% block nav %}
    <a class="nav-link" href="{% url "create" %}">Create task</a>
    <a class="nav-link" href="{% url "update" task.pk %}">Update task</a>
    <a class="nav-link" href="{% url "delete" task.pk %}">Delete task</a>
{% endblock %}
{% block content %}
<p>project - {{ task.project.name }}</p>
<p>name - {{ task.summary }}</p>
<p>status - {{ task.status }}</p>
<p>description - {{ task.description }}</p>

<p><h3>types:</h3>
    {% for type in task.types.all %}
        <h4>{{ type.name }}</h4>
    {% endfor %}

</p>
    <p>data_of_create - {{ task.created_at }}</p>
    <p>data_of_update - {{ task.updated_at }}</p>

<a href="{% url "index_view" %}">На главную задач</a>
    <p></p>
    <a href="{% url "p-view" %}">На главную проектов</a>
{% endblock %}