{% extends "base.html" %}
{% block nav %}
    <a class="nav-link" href="{% url "create" %}">Create task</a>
    <a class="nav-link" href="{% url "update" task.pk %}">Update task</a>
    <a class="nav-link" href="{% url "delete" task.pk %}">Delete</a>
{% endblock %}
{% block content %}
<p>name - {{ task.summary }}</p>
<p>status - {{ task.status }}</p>
<p>description - {{ task.description }}</p>
<p>type - {{ task.type }}</p>
    <p>data_of_create - {{ task.created_at }}</p>
    <p>data_of_update - {{ task.updated_at }}</p>

<a href="{% url "index_view" %}">На главную</a>
{% endblock %}